	a { //This specific ruleset and nothing else was created by Larsenv the seagull
	  color: #2D5369;
		cursor: url("https://wc24.mariocube.com/Cursors/wii-hover.cur"), default;
		text-decoration: none;
		font: 13px 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}
	#tvfriendchannelbox1 { //This specific ruleset and nothing else was created by Larsenv the seagull
    border-radius: 15px;
    background: #FFFFFF;
    border: 5px solid #000000;
    padding: 30px; 
	}
	#tvfriendchannelbox2 { //This specific ruleset and nothing else was created by Larsenv the seagull
    border-radius: 15px;
    background: #FFFFFF;
    border: 5px solid #0e67b0;
    padding: 25px; 
	}
