body {
	background-color: #000000;
	color: white;
	cursor: url("/assets/images/wii.cur"), default;
	text-decoration: none;
}

html {
	background-color: #000000;
	color: white;
	cursor: url("/assets/images/wii.cur"), default;
	text-decoration: none;
}

a {
	color: #00b0f4;
	cursor:url("/assets/images/wii-hover.cur"), default;
}

p, h1, h2, h3, h4, h5, h6, .twitter{
	padding: 1%;
}

.padding {
	padding: 1rem 1rem;
}

.navbar-dark {
	background-color: #000000;
	color: white;
}
