@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
	background-image: url("https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/Nintendo Channel.png");
	background-repeat: repeat;
	cursor: url("https://wc24.mariocube.com/Cursors/wii.cur"), default;
	text-decoration: none;
	font-family: 13px "Oxygen", sans-serif;
}
	
html {
	background-image: url("https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/Nintendo Channel.png");
	background-repeat: repeat;
	cursor: url("https://wc24.mariocube.com/Cursors/wii.cur"), default;
	text-decoration: none;
	font-family: 13px "Oxygen", sans-serif;
}

.jumbotron {
	padding: 2rem 1rem;
}
		
.navbar-light {
	background-image: url("https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/Wii%20Squares.png");
	background-repeat: repeat;
}