body {
	background-image: url("https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/Nintendo Channel.png");
	background-repeat: repeat;
	cursor: url("/assets/images/wii.cur"), default;
	text-decoration: none;
}
html {
	background-image: url("https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/Nintendo Channel.png");
	background-repeat: repeat;
	cursor: url("/assets/images/wii.cur"), default;
	text-decoration: none;
}
.padding {
	padding: 1rem 1rem;
}
.navbar-light {
	background-image: url("https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/Wii%20Squares.png");
	background-repeat: repeat;
}
a {
	color: #00b0f4;
	cursor:url("https://rc24.xyz/images/cursors/wii-hover.cur"), default;
  }