@font-face {
	font-family: WiiFont;
	src: url('https://www.thediamondk.com/hosting/Wii.ttf');
}
body {
	background-image: url("../../assets/images/Nintendo Channel.png");
	background-repeat: repeat;
	cursor: url("../../assets/images/wii.cur"), default;
	text-decoration: none;
	font-family: WiiFont;
}

a {
	color: #00b0f4;
	cursor: url("../../assets/images/wii-hover.cur"), default;
}

p, h1, h2, h3, h4, h5, h6, .twitter, .clearfix{
	padding: 1%;
	font-family: WiiFont;
}
.navbar-nav{
	font-family: WiiFont;
}

.padding {
	padding: 1rem 1rem;
}

.navbar-light /* .box */ {
	background-image: url("../../assets/images/Wii Squares.png");
	background-repeat: repeat;
}

/*box*/
* {
	box-sizing: border-box;
}

.box {
	float: left;
	width: 33.33%;
	padding: 50px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.clearfix {
	  font-size: 50px;
	  text-align: center;
}
