body {
	background-image: url("https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/Nintendo Channel.png");
	background-repeat: repeat;
	cursor: url("https://wc24.mariocube.com/Cursors/wii.cur"), default;
	text-decoration: none;
}
	
html {
	background-image: url("https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/Nintendo Channel.png");
	background-repeat: repeat;
	cursor: url("https://wc24.mariocube.com/Cursors/wii.cur"), default;
	text-decoration: none;
}

.jumbotron {
	padding: 2rem 1rem;
}
		
.navbar-light {
	background-image: url("https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/Wii%20Squares.png");
	background-repeat: repeat;
}