@font-face {
	font-family: WiiFont;
	src: url('https://www.thediamondk.com/hosting/Wii.ttf');
}
body {
	font-family: WiiFont;
	cursor: url("/assets/images/wii.cur"), default;
}

p, h1, h2, h3, h4, h5, h6, .twitter, .clearfix{
	padding: 1%;
	font-family: WiiFont;
}

.navbar-nav {
	font-family: WiiFont;
}

.padding {
	padding: 1rem 1rem;
}
/*box*/
* {
	box-sizing: border-box;
}

.box {
	float: left;
	width: 33.33%;
	padding: 50px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.clearfix {
	  font-size: 50px;
	  text-align: center;
}
