@import url("https://use.typekit.net/oql2jfm.css");

body {
	font-family: liberation-sans;
}

p, h1, h2, h3, h4, h5, h6, .twitter, .clearfix{
	padding: 1%;
	font-family: liberation-sans;
}

.navbar-nav {
	font-family: liberation-sans;
}

.padding {
	padding: 1rem 1rem;
}
/*box*/
* {
	box-sizing: border-box;
}

.box {
	float: left;
	width: 33.33%;
	padding: 50px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.clearfix {
	  font-size: 50px;
	  text-align: center;
}
