@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css");
@import url("https://vjs.zencdn.net/7.10.2/video-js.min.css");
@import url("apis/larsapi/000/larsapi.css");
@import url("styles/000/styler.css");
@import url("apis/navbarapi/000/navapi.css");
@import url("apis/fontapi/000/fontapi.css");
@import url("apis/vidapi/001/vidapi.css");
