[submodule "source/middleware/capmar/xml/production/fromgit/source"]
	path = source/middleware/capmar/xml/production/fromgit/source
	url = https://github.com/capmar/sxml
[submodule "source/middleware/navin13692/production/fromgit/source"]
	path = source/middleware/navin13692/production/fromgit/source
	url = https://github.com/navin13692/RSA-1024bit-in-C-
[submodule "source/middleware/JonathanWilbur/production/fromgit/source"]
	path = source/middleware/JonathanWilbur/production/fromgit/source
	url = https://github.com/JonathanWilbur/csprng-d
[submodule "source/middleware/yellows8/production/fromwiidatabasgithub/source"]
	path = source/middleware/yellows8/production/fromwiidatabasgithub/source
	url = https://github.com/WiiDatabase/wmb-asm
[submodule "source/middleware/Duthomas/production/fromgit"]
	path = source/middleware/Duthomas/production/fromgit
	url = https://github.com/Duthomhas/CSPRNG
