{% extends "base.html" %}
{% block content %}
      <div class="container-fluid padding">
         <div class="tvfriendchannelbox1">
         <h1>Welcome to XConnect24's Website!</h1>
         <p>XConnect24 is a revival of certain discontinued services on various Nintendo consoles, mainly the Wii.</p>
         <iframe style='float: left;' src="https://discord.com/widget?id=783461298531860492&theme={{ theme }}" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
         <div style='float: left;' class=twitter>
         <a data-theme="{{ theme }}" class="twitter-timeline" data-width="350" data-height="500" href="https://twitter.com/XConnect24?ref_src=twsrc%5Etfw">Tweets by XConnect24</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}