{% extends "base.html" %}
{% block content %}
      <div class="container-fluid padding">
         <div class="tvfriendchannelbox1">
         <h1>Welcome to XConnect24's Website!</h1>
         <p>XConnect24 is a revival of certain discontinued services on various Nintendo consoles, mainly the Wii.</p>
         <div class=twitter>
         <a class="twitter-timeline" data-width="450" data-height="1000" href="https://twitter.com/XConnect24?ref_src=twsrc%5Etfw">Tweets by XConnect24</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}