{% extends "base.html" %}
{% block content %}
      <div class="container-fluid padding">
         <h1>Services</h1>
         <table class="table spectrum-Table">
            <thead class="spectrum-Table-head">
                <tr>
                    <th class="spectrum-Table-headcell" scope="col">Channel Name</th>
                    <th class="spectrum-Table-headcell" scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Kirby TV Channel</td>
                    <td class="spectrum-Table-cell">In Development</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Website (what you're on right now :P)</td>
                    <td class="spectrum-Table-cell">In development</td>
                </tr>
                
                  
                 <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Minna no Theatre</td>
                    <td class="spectrum-Table-cell">In development</td>
                </tr>
            </tbody>
         </table>
{% endblock %}
