{% extends "base.html" %}
{% block content %}
      <div class="container-fluid padding">
         <h1>Services</h1>
         <table class="table spectrum-Table">
            <thead class="spectrum-Table-head">
                <tr>
                    <th class="spectrum-Table-headcell" scope="col">Channel Name</th>
                    <th class="spectrum-Table-headcell" scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">New Room (Wii no Ma)</td>
                    <td class="spectrum-Table-cell">In Development</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">New Room GO (Dokodemo Wii No Ma)</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Digicam Print Channel</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Demae Channel</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Forecast Channel</td>
                    <td class="spectrum-Table-cell">In Development</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">News Channel</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Check Mii Out Channel</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Nintendo Channel</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Minna No Theatre</td>
                    <td class="spectrum-Table-cell">In Development</td>
                </tr>
               
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">TV No Tomo Channel</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Flipnote Hatena</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Flipnote Gallery: World and FLipnote Gallery: Friends (for Flipnote Studio 3D)</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Everybody Votes Channel</td>
                    <td class="spectrum-Table-cell">In Development</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Kirby TV Channel</td>
                    <td class="spectrum-Table-cell">In Development</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Nintendo Wi-Fi Connection</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Wii SP X — OSS Portable Wii (not really part of the service but whatever)</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Website (what you're on right now :P)</td>
                    <td class="spectrum-Table-cell">In development</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Pokemon GTS Nintendo Wi-Fi Connection Services</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Pokemon Diamond/Pearl Wi-Fi Connection Services</td>
                    <td class="spectrum-Table-cell">In development</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Pokemon Platinum Nintendo Wi-Fi Connection Services</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Pokemon Battle Tower Wi-Fi Connection Services</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Pokemon HeartGold/SoulSilver Nintendo Wi-Fi Connection Services</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Pokemon Black/White Nintendo Wi-Fi Connection Services</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Pokemon Black2/White2 Nintendo Wi-Fi Connection Services</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Pokemon Crystal Mobile Connection Emulator/Revival</td>
                    <td class="spectrum-Table-cell">In Development</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Syscheck Server Emulator</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Discord Look-alike Clone</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Wii Shop Channel (Homebrew apps/forwarders only)</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">RSSMii Server Emulator</td>
                    <td class="spectrum-Table-cell">In Development</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Nintendo 64DD Randnet Server Emulator</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
                
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Facebook Gameframe Server Emulator and Full Native Port to Wii</td>
                    <td class="spectrum-Table-cell">In Development</td>
                </tr>
            </tbody>
         </table>
{% endblock %}