{% extends "base.html" %}
{% block content %}
      <div class="container-fluid padding">
         <h1>Services</h1>
         <table class="table spectrum-Table">
            <thead class="spectrum-Table-head">
                <tr class="spectrum-Table-headCell">
                    <th class="spectrum-Table-headcell" scope="col">Channel Name</th>
                    <th class="spectrum-Table-headcell" scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Wii Mail (mailx)/td>
                    <td class="spectrum-Table-cell">On Hold (until blue64 learns golang or someone else does it, we aren't forking mailgo)</td>
                </tr>

                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Forecast Channel</td>
                    <td class="spectrum-Table-cell">In Development</td>
                </tr>

                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">News Channel</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>

                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Nintendo Channel</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>

                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Everybody Votes Channel</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>

                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Check Mii Out Channel</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>

                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Wii Speak Channel</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>

                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Kirby TV Channel</td>
                    <td class="spectrum-Table-cell">In Development</td>
                </tr>

                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Minna no Theatre</td>
                    <td class="spectrum-Table-cell">In development</td>
                </tr>

                <tr class="spectrum-Table-body">
                    <td class="spectrum-Table-cell">Nintendo 64DD Randnet Emulator/Revival</td>
                    <td class="spectrum-Table-cell">Planned</td>
                </tr>
            </tbody>
         </table>
{% endblock %}
